/* Index.css is the file that will contain the global styling of the website, the styles that affect all the pages */

/* This is the imported font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

#root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

/* This will set the color of the background of the website */
body{
  background: rgb(73, 72, 72);
}

/* I want the color of all text to be white, and for the link tags to have no underline */
h1, h4, p, a {
  color: white;
  text-decoration: none;
}

/* This will remove the dot from the list elements */

ul{
  list-style-type: none;
}


/* The following code will style the buttons */

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: grey;
  color: rgb(24, 24, 24);
  border: 1px solid #fff;
  border-radius: 5%;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  /* background: rgba (255, 255, 255, 0.2); */
  background: transparent;
  color: white;
}

.btn:hover {
  background: rgb(39, 38, 38);
  color: white;
  transition: 0.3s;
}

